doctype html
html(lang="en" style="height: 100%;")
    head 
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Web Snake
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        block stylesheets 
        script(src="/jquery.min.js")
        script(src="/js/bootstrap.min.js") 
        block scripts 
    body.h-100 
        block content 
            